{% extends "base.html" %}

{% block css_links %}
{% endblock %}

{% block main %}
<section>
  <div class="card-body">
    <h3 class="card-title text-center">Zmień hasło</h3>

    <form method="POST" action={{url_for('change_password')}}>
      {{ form.csrf_token }}

      <div>
        <label for="old_password">Stare hasło</label>
        <input type="password" value="{{form.old_password.data if form.old_password.data}}"
          class="{{'is-invalid' if form.old_password.errors}}" type="password" 
          name="old_password" placeholder="Wpisz stare hasło">
        {% for error in form.old_password.errors %}
        <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}
      </div>

      <div>
        <label for="password">Nowe hasło</label>
        <input id="password" type="password" value="{{form.password.data if form.password.data}}"
          class="{{'is-invalid' if form.password.errors}}" type="password" 
          name="password" placeholder="Wpisz nowe hasło">
        {% for error in form.password.errors %}
        <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}

      <div>
        <label for="password2">Powtórz hasło</label>
        <input type="password" value="{{form.password2.data if form.password2.data}}"
          class="{{'is-invalid' if form.password2.errors}}" type="password" 
          name="password2" placeholder="Powtórz nowe hasło">
        {% for error in form.password2.errors %}
        <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}
      </div>

      <button type="submit" class="btn">Zmień hasło</button>
    </form>
  </div>
</section>
{% endblock %}